<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="\\tq1\Quicken"/>
    <add key="detinationFolder" value="C:\Dropbox\qbackup"/>
    <!--Values for the following are either "files" or "folder"-->
    <add key ="filesOrFolder" value="files"/>
    <!--If above key is "files", the following key is a comma delimited list of file names to backup.-->
    <add key="fileNames" value="New2007.QDF,New2007OFXLOG.DAT"/>
  </appSettings>
</configuration>