<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="YourSourceFolderGoesHere"/>
    <add key="detinationFolder" value="YourDestinationFolderGoesHere"/>
    <!--Values for the following are either "files" or "folder"-->
    <add key ="filesOrFolder" value="folder"/>
    <!--If above key is "files", the following key is a comma delimited list of file names to backup.-->
    <add key="fileNames" value="New2007.QDF,New2007OFXLOG.DAT"/>
    <!--Indicates if user would like to do straight copy or compress files to archive-->
    <add key ="copyOrCompress" value="copy"/>
  </appSettings>
</configuration>